@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.board-col {
  min-width: 200px;
  border: 1px solid black;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.card {
  border: 1px solid red;
  padding: 1em;
  height: 50px
}